@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    color: #2C2C2C;
    line-height: 133%;
    font-family: "Roboto", sans-serif;
    padding: 63px 0 30px;
}

.wrapper > main {
  -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > * {
    min-width: 0;
}

[class*=__container] {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 15px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.header {
    margin-bottom: 48px;
}

.header__logo {
    margin-bottom: 38px;
}

.logo__text {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.logo__text-mod {
    color: #4BCAFF;
}

.nav-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #35444F;
}

.nav-header__item {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
    border-left: 1px solid #fff;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.nav-header__item:hover {
    background-color: #222F3A;
}

.nav-header__item:last-child {
    border-right: 1px solid #fff;
}

.nav-header__link {
    padding: 26px 38px 19px;
    display: block;
}

.main {
    margin-bottom: 51px;
}

.main__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 15px;
}

.main__aside {
    -webkit-box-flex: 0;
    -ms-flex: 0 2 344px;
    flex: 0 2 344px;
}

.main__page {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 885px;
    flex: 0 1 885px;
}

.aside__menu {
    border: 1px solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aside__item {
    font-size: 27px;
    line-height: 100%;
}

.aside__link {
    color: #485863;
    display: block;
    padding: 26px 26px 26px 44px;
    background: transparent;
    -webkit-transition: background-color 0.3s, padding 0.3s;
    -o-transition: background-color 0.3s, padding 0.3s;
    transition: background-color 0.3s, padding 0.3s;
}

.aside__link:hover {
    background-color: #DBDBDB;
    padding: 26px 26px 26px 72px;
    color: #000;
}

.page__img {
    border: 1px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 37px;
    height: 529px;
}

.page__text:not(:last-child) {
    margin-bottom: 34px;
}

.page__text {
    width: 885px;
    height: 110px;
    left: 0px;
    top: 720px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #2C2C2C;
}

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    left: 0px;
    top: 0px;
}

.footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center; 
    display: flex;
    gap: 35px;
    width: 875px;
    height: 30px;
    left: 40px;
    top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    align-items: center;
    color: #0C1927;
}

.footer__item {
    width: 190px;
    height: 69px;
    left: 1050px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
    padding-bottom: 40px;
}

.footer__link {
    color: #0C1927;
    line-height: 100%;
    position: relative;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.footer__link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #3181A6;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.footer__link:hover {
    color: #3181A6;
}

.footer__link:hover::after {
    width: 100%;
}



