@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    font-family: "Roboto", sans-serif;
    background: url("../images/main.jpg") center/cover no-repeat;
}

.wrapper > main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

[class*=__container] {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1028px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 46px;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 8px;
}

.logo:hover .logo__img path {
    fill: #F26522;
}

.logo:hover .logo__text {
    color: #F26522;
}

.logo__img {
    width: 53px;
    height: 47px;
}

.logo__img path {
    -webkit-transition: fill 0.3s;
    -o-transition: fill 0.3s;
    transition: fill 0.3s;
}

.logo__text {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    font-weight: 700;
}

.logo__top {
    display: block;
    line-height: 30px;
    font-size: 29px;
}

.logo__bottom {
    line-height: 21px;
    display: block;
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 19px;
    line-height: 21px;
}

.contacts__email {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.contacts__email:hover {
    color: #F26522;
}

.contacts__phone {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.contacts__phone:hover {
    color: #F26522;
}

.main {
    padding: 17px 0 33px;
}

.tours {
    display: grid;
    grid-template: auto/repeat(auto-fill, 304px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    row-gap: 37px;
    width: 1027px;
    height: 631px;
    margin-top: 17px;
}

@media screen and (max-width: 959px) {
  .tours {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

.card-tour__content {
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 2px;
    height: 224px;
}

.card-tour__content::before {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient (linear, left bottom, left top, from(#000), to(#fff));
    background: -o-linear-gradient(bottom, #000 0%, #fff 100%);
    background: linear-gradient(0deg, #000 0%, #fff 100%);
}

.card-tour__img {
    padding: 2px;
    content: "";
    width: 300px;
    height: 220px;
    left: 6px;
    top: 0px;
}

.card-tour__pic {
    width: 300px;
    height: 220px;
    left: 6px;
    top: 0px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-tour__info {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: center;
    padding: 7px 15px 13px;
    background: #F26522;
    color: #FFFFFF;
    translate: -50% 0;
    left: 51%;
    bottom: -60px;
    width: calc(100% - 4px);
    -webkit-transition: bottom 0.3s;
    -o-transition: bottom 0.3s;
    transition: bottom 0.3s;
    width: 302.5px;
    height: 55px;
}

.card-tour__price {
    line-height: 14px;
    background: #F26522;
} 

.card-tour__prefix {
    font-size: 11px;
    margin: 0px 0px 12px 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 8px;
    width: 21px;
    height: 14px;
    top: 11px;
}

.card-tour__euro {
    font-size: 20px;
}

.card-tour__details {
    position: relative;
    height: 28px;
    font-family: 'Roboto';
    width: 139px;
    font-size: 14px;
    padding: 10px 23px 39px 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
    top: 20px;
}

.card-tour__details::after {
    position: relative;
    content: "";
    width: 5px;
    height: 10px;
    padding: 0px 0px 0px 39px;
    background: url("../images/arrow.svg") center no-repeat;
}

.card-tour__title {
    text-align: center;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.card-tour:hover .card-tour__info {
    bottom: 0;
}

.card-tour:hover .card-tour__title {
    color: #F26522;
}

.footer {
    padding: 15px;
    top: 100%;
    width: 100%; 
    display: flex;
    text-align: center;
    align-items: center;
}

.footer__copyrights {
    height: 22px;
    width: 306px;
    line-height: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}
